@import '../../acces/thems/colors.css';

.fotoPage {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-start;
    justify-content: stretch;
    flex-flow: row wrap;
}
.itemContainer{
    position: relative;
    overflow: hidden;
    width: 20vw;
    height: 31vw;
    margin: 1vw;
    background-color: var(--slize-background-color);
    border-radius: 5px;
    border: var(--itemContainer-bordder) solid 3px;
}
.fotoItem,.fotoItemDownload {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    z-index: 0;
    height: 100%;
    background-color: var(--slize-background-color);

}
.tittleFolder{
    position: absolute;
    width: 100%;
    display: flex;
    justify-self: center;
    justify-content: center;
    z-index: 1;
    text-align: center;
}
.tittle {
    font-size: 2vw;
    font-weight: bold;
    background-color: var(--slize-background-color-forTittle);
    /*backdrop-filter: blur(10px);*/
    border-radius: 10px;
    display: inline-flex;
 }

.file,.image_upload {
    position: relative;
    /*overflow: auto;*/
    contain: content;
    object-fit: scale-down;
    border-radius: 5px;
    height: 75%;
    padding: 1px;
}

.file:hover{
     transform: scale(1.05);
     border: var(--border-hover) solid 2px;
 }
.deleteItem{
     position: absolute;
     top:-4px;
     right: 0;
     z-index: 2;
     background-color: transparent;
    width: 2vw;
    height: 2vw;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 1.5vw;
    border-radius: 3px;
}
.deleteItem:hover{
    background-color: red;
    transform: scale(1.4);
}

.inputFolder{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.input {
    text-align: center;
    min-height: 3vw;
}
.input,.commentValue,.btnADD{
    font-size: 1.3vw;
    font-weight: lighter;
}

.downItemFolder {
    width: 100%;
    height: 45%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: transparent;

}
.inputTittle{
    z-index: 1;
    width: 100%;
    bottom: 0;
    position: absolute;
}
.oneComentFolder{
     /* for awery 1  comment*/
     background-color: var(--slize-background-color);
     margin: 0.5vw;
     border-radius: 3px;
     display: flex;
    align-items: center;
    justify-content: space-between;
 }
.BTNrightComment{
    /*height: 1.5vw;*/
    /*width: 1.5vw;*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    min-width: 20px;
}
.BTNrightComment div{
    height: 1.5vw;
    width: 1.5vw;
    min-height: 20px;
    min-width: 20px;
}
.main:hover {
     background-color: var(--hover-background);
 }

.BTNrightComment:hover {
     transform: scale(1.1);
     cursor: default;
     background-color: #3f020b;
}

.navContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 7vw;
}



@media screen and (max-width: 850px ) {


    .itemContainer {
        width: 40vw;
        min-height: 50vw;
    }
    .input,.commentValue,.btnADD{
        font-size: 2vw;
        font-weight: lighter;
    }
    .tittle {
        font-size: 5vw;
    }
    .navContainer{
        height: 12vw;
    }

}
@media screen and (max-width: 550px ) {
    .fotoPage {
        display: flex;
        justify-content: space-around;
    }
    .itemContainer {
        width: 100vw;
        height: 100vw;
    }
    .input,.commentValue,.btnADD{
        font-size: 4vw;
        font-weight: lighter;
    }
    .tittle {
        font-size: 6vw;
    }
}