@import '../../acces/thems/colors.css';

* {
    box-sizing: border-box
}
.allHeader{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    overflow: hidden;
    /*border: red solid 3px;*/
    height: 50px;
    margin-bottom: 0.5vw;

}


.lefName,.rightHeader{
    font-size: 4vw;
    text-transform: uppercase;
    font-family: Verdana;
    text-decoration: none;
    color: var(--headerColoer);
}

.headerMainButton{
    display: none;
    /*width: 100px;*/
    height: 40px;
}
.headerMainButton >img{
    height: 100%;
}

.headerMain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerMain >div{
    margin:  0 1vw;
    /*font-size: 2.5vw;*/
    text-transform: none;
}
.link {
    /*font-size: 30px;*/
    text-decoration: none;
    color: var(--headerColoer);
    font-family: Verdana Andalus SansSerif;
    font-weight: bold;
    opacity: 0.9;
    cursor:pointer;
    /*border: #ff8224 2px solid;*/
}
.headerMain> div > *:hover{
    color: #ff8224;
    transform: scale(1.1);
    background-color: #ffefd240;
    border-radius: 5px;
    /*cursor: pointer;*/

}


.leftheader, .rightHeader {
     width: 20vh;
     align-self: center;
    cursor:pointer;
    text-decoration: none;

}
.lefName, .rightName,.headerMain > div > a {
    font-size: 28px;
}

@media screen and (max-width: 950px ) {

    .lefName, .rightName, .link {
        font-size: 26px;
    }
    .headerMain >div {
        border-radius: 10px;
        background-color: var(--slize-background-color-forTittle);
    }
}
@media screen and (max-width: 680px ) {
    .headerMain{
        flex-direction: column;
        position: fixed;
        height: 200px;
        width: 200px;
        background-color: #1e1802;
        z-index: 4;
        right: 0px;
        top: 50px;
        opacity: 1;
        border-radius: 4px;
    }
    .link{
        margin: 20px 0;
        background-color: #1e1802;

    }
    .headerMainButton{
        display: flex;
        justify-content: end;
        width: 90%;
        margin-right: 20px;
    }
    .active{
        display: flex;
    }
    .notActive{
        display: none;
    }

}


