* {
    box-sizing: border-box
}
.footer{
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.uperfoter, .loverfoter{
    position: relative;
    display: flex;
    justify-content: center;
    height: 10vh;
}
.loverfoter{
    justify-content: left;
}
.LoverFooter a img ,.countdown a img{
    height: 2.5vw;
    margin:  0 1vw;
    background: radial-gradient(circle 1rem, rgba(239, 168, 79, 4), rgba(235, 161, 26, 0));
    border-radius: 50%;
}

@media screen and (max-width: 1000px ) {
    .LoverFooter a img ,.countdown a img{
        height: 4vw;
    }
}
@media screen and (max-width: 800px ) {
    .LoverFooter a img ,.countdown a img {
        height: 5vw;
    }
}
@media screen and (max-width: 500px ) {
    .LoverFooter a img ,.countdown a img {
        height: 7vw;
    }
}









