


*{
    margin: 0;

}
#root{
    /*background-image: url("./acces/foto.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
    /*height: 100%;*/

    margin:0;
    padding:0;
    outline:none
}
